<% if current_user != @user %>
  <div id="favorite_form">
  <% if @micropost.favorited?(current_user) %>
    <%= render 'microposts/unfavorite' %>
  <% else %>
    <%= render 'microposts/favorite' %>
  <% end %>
  </div>
<% end %>
